<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/subLayout}">

<!-- subLayout : contents -->
<section layout:fragment="contents" class="contents">
	<div class="join-box">
		<h2 class="text-center">Sign up to Forest</h2>
		
		<div class="info-form-box mt-3">
			<form method="post" action="/auth/sign-up">
				
				<div class="y-center">
					<input type="text" name="loginId" id="loginId" class="form-control" placeholder="아이디">
					<button type="button" id="isDuplicated" class="btn btn-success rounded-pill flex-shrink-0 ml-1">중복확인</button>
				</div>
				<div id="checkLoginId" class="small-red-text ml-1 d-none">
					아이디를 입력해주세요.
				</div>
				<div id="checkDuplicatedId" class="small-red-text ml-1 d-none">
					이미 사용 중인 아이디입니다.
				</div>
				<div id="checkIdOk" class="small-green-text ml-1 d-none">
					사용가능한 아이디입니다.
				</div>
				<div id="checkIdNeed" class="small-yellow-text ml-1 d-none">
					중복확인을 해주세요.
				</div>
				
				<input type="password" name="password" id="password" class="form-control mt-1" placeholder="비밀번호">
				<div id="checkPassword" class="small-red-text ml-1 d-none">
					비밀번호를 입력해주세요.
				</div>
				
				<input type="password" name="passwordConfirm" id="passwordConfirm" class="form-control mt-1" placeholder="비밀번호 확인">
				<div id="checkPasswordConfrim" class="small-red-text ml-1 d-none">
					비밀번호가 일치하지 않습니다.
				</div>

				<input type="text" name="name" id="name" class="form-control mt-4" placeholder="이름">
				<div id="checkName" class="small-red-text ml-1 d-none">
					이름을 입력해주세요.
				</div>
				
				<input type="text" name="phoneNumber" id="phoneNumber" class="form-control mt-1" placeholder="휴대폰 번호 (숫자만 입력)">
				<div id="checkPhoneNumberConfrim" class="d-none ml-1 small-red-text">
					휴대전화 11자리를 입력해주세요.
				</div>
				
				<input type="text" name="email" id="email" class="form-control mt-1" placeholder="이메일 (선택)">				

				<div class="x-center mt-4">
					<button type="submit" id="joinBtn" class="btn">회원가입</button>
				</div>
			</form>
		</div>
		
	</div> <!-- 회원가입 박스 -->
</section>

<!-- subLayout : script -->
<script layout:fragment="script">
	$(document).ready(function() {
		
		// 회원가입
		$('form').on('submit', function(e) {
			e.preventDefault();
			
			$('#checkLoginId').addClass('d-none');
			$('#checkPassword').addClass('d-none');
			$('#checkPasswordConfrim').addClass('d-none');
			$('#checkName').addClass('d-none');
			$('#checkPhoneNumberConfrim').addClass('d-none');
			
			let loginId = $('#loginId').val().trim();
			let password = $('#password').val();
			let passwordConfirm = $('#passwordConfirm').val();
			let name = $('#name').val().trim();
			let phoneNumber = $('#phoneNumber').val().trim();
			let email = $('#email').val().trim();
			
			// validation - 입력
			let checkOk = true;
			
			if (!loginId) {
				$('#checkLoginId').removeClass('d-none');
				checkOk = false;
			}
			if (!password) {
				$('#checkPassword').removeClass('d-none');
				checkOk = false;
			}
			if (!name) {
				$('#checkName').removeClass('d-none');
				checkOk = false;
			}
			if (password != passwordConfirm) {
				$('#checkPasswordConfrim').removeClass('d-none');
				checkOk = false;
			}
			if (phoneNumber.length != 11) {
				$('#checkPhoneNumberConfrim').removeClass('d-none');
				checkOk = false;
			}
			if (checkOk == false) {
				return false;
			}
			
			// validation - 아이디 중복
			if (!$('#checkDuplicatedId').hasClass('d-none')) { // 이미 중복인 경우
				return false;
			}
			if ($('#checkIdOk').hasClass('d-none')) { // 중복검사를 안한 경우
				$('#checkIdNeed').removeClass('d-none');
				return false;
			}
			
			// AJAX
			let url = $(this).attr('action');
			let params = $(this).serialize();

			console.log(params);
			
			$.post(url, params)
			.done(function(data) {
				if (data.code == 200) {
					alert("회원가입 되었습니다. 다시 로그인 해주세요.");
					location.href = "/auth/login";
				}
			})
			.fail(function(e) {
				alert("AJAX ERROR : 회원가입 실패");
			}) //-- ajax
			
		}) //-- 회원가입
		
		// 아이디 중복확인
		$('#isDuplicated').on('click', function(e) {
			
			$('#checkLoginId').addClass('d-none');
			$('#checkIdOk').addClass('d-none');
			$('#checkDuplicatedId').addClass('d-none');
			$('#checkIdNeed').addClass('d-none');
			
			let loginId = $(this).prev('#loginId').val();

			if (!loginId) {
				$('#checkLoginId').removeClass('d-none');
				return;
			}
			
			$.ajax({
				type:"get"
				, url:"/auth/is-duplicated-id"
				, data:{"loginId":loginId}
				, success:function(data) {
					if (data.code == 200) {
						$('#checkIdOk').removeClass('d-none');
					}
					else if (data.code == 202) {
						$('#checkDuplicatedId').removeClass('d-none');
					}
				}
				, fail:function(e) {
					alert("AJAX ERROR : 중복확인 실패");
				}
				
			}); //-- ajax
			
		}); //-- 아이디 중복확인
		
		// loginId input
		$('#loginId').on('input', function(e) {
			$('#checkLoginId').addClass('d-none');
			$('#checkIdOk').addClass('d-none');
			$('#checkDuplicatedId').addClass('d-none');
			$('#checkIdNeed').addClass('d-none');
		}) //-- loginId input
		
		
	}) //-- ready
</script>


</html>