<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/subLayout}">

<!-- subLayout : contents -->
<section layout:fragment="contents" class="contents">
	<div class="login-box">
		<h2 class="text-center">Sign in to Forest</h2>
		
		<div class="info-form-box mt-3">
			<form method="post" action="/auth/sign-in">
				<div class="form-group mb-2">
					<label for="loginId">아이디</label>
					<input type="text" name="loginId" id="loginId" class="form-control">
					<div id="checkLoginId" class="small-red-text ml-1 d-none">아이디를 입력해주세요.</div>
				</div>
				
				<div class="form-group">
					<label for="password">비밀번호</label>
					<input type="password" name="password" id="password" class="form-control">
					<div id="checkPassword" class="small-red-text ml-1 d-none">비밀번호를 입력해주세요.</div>
				</div>
				
				<div id="checkLogin" class="small-red-text text-center d-none">
					아이디 혹은 비밀번호가 일치하지 않습니다.
				</div>

				<div class="x-center mt-3">
					<button type="submit" id="loginBtn" class="btn">로그인</button>
				</div>
			</form>
			
			<div class="text-center mt-4">
				<a href="/auth/join">아직 계정이 없나요?</a>
			</div>
		</div>
		
		<div class="d-flex justify-content-around mt-3">
			<div class="btn btn-warning">카카오 로그인</div>
			<div class="btn btn-success">네이버 로그인</div>
		</div>
	</div> <!-- 로그인 박스 -->
</section>

<!-- subLayout : script -->
<script layout:fragment="script">
	$(document).ready(function() {
		
		// 로그인 버튼
		$('form').on('submit', function(e) {
			e.preventDefault();
			
			$('#checkLoginId').addClass('d-none');
			$('#checkPassword').addClass('d-none');
			$('#checkLogin').addClass('d-none');
			
			let loginId = $('#loginId').val().trim();
			let password = $('#password').val();
			
			// validation
			let checkOk = true;
			
			if (!loginId) {
				$('#checkLoginId').removeClass('d-none');
				checkOk = false;
			}
			if (!password) {
				$('#checkPassword').removeClass('d-none');
				checkOk = false;
			}
			if (checkOk == false) {
				return false;
			}
			
			// AJAX
			let url = $(this).attr('action');
			let params = $(this).serialize();
			
			$.post(url, params)
			.done(function(data) {
				if (data.code == 200) {
					location.href = "/";				
				} else if (data.code == 401) {
					$('#checkLogin').removeClass('d-none');
				}
			})
			.fail(function(error) {
				alert("AJAX ERROR : 로그인 실패");
			}); //-- post ajax
			
			
		}) //-- 로그인 버튼
		
	}) //-- ready
</script>


</html>