<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/mainLayout}">


<!-- mainLayout : contents -->
<section layout:fragment="contents" class="contents bg-light">
	<div class="books-list">
		<!-- 타이틀 -->
		<h2 class="my-5 mx-3 ff-gr font-weight-bold">중고도서</h2>
		
		<div class="product-container">
			<div th:each="productView : ${productViewList}" class="product-card bg-white" th:data-product-id="${productView.product.id}">
                <div th:if="${#strings.equals(productView.product.saleStatus, '판매완료')}" class="product-sold">
                    <h3 class="font-weight-bold ff-gr text-center">판매완료</h3>
                </div>
				<div class="product-img-box">
					<img alt="상품 이미지" th:src="${productView.product.imageUrl}" class="product-img">
				</div>
				<div th:with="percentage= (1 - ${productView.product.price} / ${productView.book.priceSales}) * 100" class="d-flex mt-2">
					<span class="badge badge-secondary fs-14 mr-1" th:text="${productView.product.bookStatus}"></span>
					<span class="badge badge-success fs-14 mr-1" th:if="${percentage} > 0" th:text="|${#numbers.formatDecimal(percentage, 2, 0)}% 이상 할인|"></span>
					<span class="badge badge-warning fs-14 mr-1" th:unless="${percentage} > 0" th:text="|리미티드|"></span>
				</div>
				<h5 th:text="${#strings.abbreviate(productView.book.title, 18)}" class="font-weight-bold mt-3 mb-0"></h5>
				<div>
					<small th:text="${#strings.substringBefore(productView.book.author, '(')}"></small>
					<small th:text="| · ${productView.book.publisher}|"></small>
				</div>
				<div class="product-price mt-4">
					<div>중고 가격: <span th:text="${#numbers.formatInteger(productView.product.price, 3, 'COMMA') + '원'}" class="product-price-price"></span></div>
				</div>
			</div>
		</div>
	</div><!-- 책 리스트 컨테이너 -->
</section>

<!-- mainLayout : script -->
<script layout:fragment="script">
	$(document).ready(function() {
 
		// product card
		$('.product-card').on('click', function(e) {

			let productId = $(this).data('product-id');
			location.href = "/product/detail/" + productId;			
		}); //-- product card
		
	}); //-- ready
</script>


</html>