<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/subLayout}">

<!-- subLayout : contents -->
<section layout:fragment="contents" class="contents">
	
	<div class="order-list">
		<div class="order-list-img">
			<div th:each="productView : ${productViewList}" class="mx-2">
				<img width="200" alt="상품 이미지" th:src="${productView.product.imageUrl}">
			</div>
		</div>
		<div class="x-center py-4">
			<table class="order-info">
				<tr>
					<th>주문자명</th>
					<td>
						<div id="userId" th:text="${session.userName}" th:data-user-id="${session.userId}"></div>
					</td>
				</tr>
				<tr>
					<th>연락처</th>
					<td>
						<input id="userPhoneNumber" type="text" th:value="${session.userPhoneNumber}" class="form-control" placeholder="휴대폰 번호를 입력해주세요.">
					</td>
				</tr>
				<tr>
					<th>주소</th>
					<td>
						<div id="userAddress" th:if="${session.userAddress} != null" th:text="${session.userAddress}"></div>
						<div th:unless="${session.userAddress} != null">
							<input type="text" id="userAddress" class="form-control" placeholder="주소를 입력해주세요.">
						</div>
					</td>
					
				</tr>
				<tr>
					<th>상품명</th>
					<td>
						<div class="order-list-products">
							<div th:each="productView : ${productViewList}">
								<span th:text="${productView.book.title}"></span>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<th>결제 예정 금액</th>
					<td>
						<div th:text="${#numbers.formatInteger(price, 3, 'COMMA') + '원'}"></div>
					</td>
				</tr>
			</table>
		</div>
		<div class="x-center mt-4">
			<button id="purchaseBtn" type="button" class="btn btn-danger w-25">결제하기</button>
		</div>
	</div>
	
</section>

<!-- subLayout : script -->
<script layout:fragment="script">
	$(document).ready(function() {

		// 휴대전화 자동 하이픈 추가
		let userPhoneNumber = $('#userPhoneNumber').val()
							.replace(/[^0-9]/g, '')
		     				.replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3")
		     				.replace(/(\-{1,2})$/g, "");
		$('#userPhoneNumber').val(userPhoneNumber);
		
		$('#userPhoneNumber').on('input', function(){

			let phoneNumber = $(this).val();
			
			// 휴대폰 글자 수 제한
			if (phoneNumber.length > 13) {
				phoneNumber = phoneNumber.substring(0, 13);
			}
			
			phoneNumber = phoneNumber
							.replace(/[^0-9]/g, '')
		     				.replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3")
		     				.replace(/(\-{1,2})$/g, "");
			
			$(this).val(phoneNumber);
		});
		
		// 결제 버튼
		$('#purchaseBtn').on('click', function(e) {

			// validation: phoneNumber, address
			
			// 넘겨야할 데이터
			// order : userId, totalPrice, address, phoneNumber, status
			// orderProduct : productId(여러개), orderId는 이 시점에는 없어서 order 생성 후 다시 받아와야함
			
		});
		
		
	}) //-- ready
</script>


</html>