<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/subLayout}">

<!-- subLayout : contents -->
<section layout:fragment="contents" class="contents">
	
	<div class="order-list">
		<div class="order-list-img">
			<div th:each="productView : ${productViewList}" class="mx-2">
				<img width="200" alt="상품 이미지" th:src="${productView.product.imageUrl}">
			</div>
		</div>
		<div class="x-center py-4">
			<table class="order-info">
				<tr>
					<th>주문자명</th>
					<td>
						<div id="userId" th:text="${session.userName}" th:data-user-id="${session.userId}"></div>
					</td>
				</tr>
				<tr>
					<th>연락처</th>
					<td>
						<input id="userPhoneNumber" type="text" th:value="${session.userPhoneNumber}" class="form-control" placeholder="휴대폰 번호를 입력해주세요.">
					</td>
				</tr>
				<tr>
					<th>주소</th>
					<td>
						<div>
							<input type="text" id="userAddress" class="form-control" th:value="${session.userAddress}" placeholder="주소를 입력해주세요.">
						</div>
					</td>
					
				</tr>
				<tr>
					<th>상품명</th>
					<td>
						<div class="order-list-products">
							<div th:each="productView : ${productViewList}">
								<span th:text="${productView.book.title}" th:data-product-title="${productView.book.title}" th:data-product-id="${productView.product.id}"></span>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<th>결제 예정 금액</th>
					<td>
						<div id="totalPrice" th:text="${#numbers.formatInteger(price, 3, 'COMMA') + '원'}" th:data-price="${price}"></div>
					</td>
				</tr>
			</table>
		</div>
		<div class="x-center mt-4">
			<button id="purchaseBtn" type="button" class="btn btn-danger w-25">결제하기</button>
		</div>
	</div>
	
</section>

<!-- subLayout : script -->
<script layout:fragment="script">
	$(document).ready(function() {

		// 휴대전화 자동 하이픈 추가
		let userPhoneNumber = $('#userPhoneNumber').val()
							.replace(/[^0-9]/g, '')
		     				.replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3")
		     				.replace(/(\-{1,2})$/g, "");
		$('#userPhoneNumber').val(userPhoneNumber);
		
		$('#userPhoneNumber').on('input', function(){

			let phoneNumber = $(this).val();
			
			// 휴대폰 글자 수 제한
			if (phoneNumber.length > 13) {
				phoneNumber = phoneNumber.substring(0, 13);
			}
			
			phoneNumber = phoneNumber
							.replace(/[^0-9]/g, '')
		     				.replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3")
		     				.replace(/(\-{1,2})$/g, "");
			
			$(this).val(phoneNumber);
		});
		
		// 결제 버튼
		$('#purchaseBtn').on('click', async function(e) {

			// 넘겨야할 데이터
			// order : paymentId, userId, totalPrice, address, phoneNumber -- status(배송상태)는 서버에서 일괄 변경
			let paymentId = `payment-${crypto.randomUUID()}`;
			let userId = $('#userId').data('user-id');
			let totalPrice = $('#totalPrice').data('price');
			let address = $('#userAddress').val();
			let phoneNumber = $('#userPhoneNumber').val().replaceAll("-", "");
			
			// orderProduct : paymentId, productId(여러개)
			let productIdList = $('.order-list-products span').map(function() {
				return $(this).data('product-id');
			}).get();
			
			// 이건 넘기지는 않음, 결제창 정보 용도
			let productTitleString;
			let productTitleList = $('.order-list-products span').map(function() {
				return $(this).data('product-title');
			}).get();
			
			if (productTitleList.length > 1) {
				productTitleString = "(" + productTitleList[0] + ") 외 " + (productTitleList.length - 1) +"건"
			} else {
				productTitleString = productTitleList[0]
			}
			
			// validation: phoneNumber, address
			if (phoneNumber.length != 11) {
				alert("올바른 휴대전화 번호를 입력해주세요.");
				return;
			}
			if (!address) {
				alert("주소를 입력해주세요.");
				return;
			}
			
			// 결제 수행
			const response = await PortOne.requestPayment({
				// Store ID 설정
				storeId: "store-1b3819e1-087f-4615-b879-889ac31f30f3",
				// 채널 키 설정
				channelKey: "channel-key-192ee619-4324-46ce-9d34-10acc3f0227e",
				paymentId: paymentId,
				orderName: productTitleString,
				totalAmount: totalPrice,
				currency: "CURRENCY_KRW",
				payMethod: "CARD",
			});

			console.log("response.paymentId:", response.paymentId);
			
			// 결제 실패 (code: 오류코드, message: 오류정보)
			if (response.code != null) {
				console.log(response.message);
				return;
			}
			
			
			// 결제 성공 (code: undefined, message: undefined)
			// DB 저장
			$.ajax({
				type:"post"
				, url:"/order/confirmation"
				// order : paymentId, userId, totalPrice, address, phoneNumber -- status(배송상태)는 서버에서 일괄 변경
				// orderProduct : paymentId, productId(여러개)
				, data:{"paymentId":paymentId, "userId":userId, "totalPrice":totalPrice, "address":address, "phoneNumber":phoneNumber, "productIdList":productIdList}
				, success:function(data) {
					if (data.code == 200) {
						location.href = "/user/orders";
					}
				}
				, error:function(e) {
					alert("AJAX ERROR : 결제 실패");
				}
				
			}); //-- ajax
			
		});
		
		
	}) //-- ready
</script>


</html>