<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.forest.order.mapper.OrderProductMapper">
	<select id="selectOrderProductListByPaymentId" parameterType="String" resultType="com.forest.order.domain.OrderProduct">
		SELECT
			`id`
			, `paymentId`
			, `productId`
			, `createdAt`
			, `updatedAt`
		FROM
			`order_product`
		WHERE
			`paymentId` = #{paymentId}
	</select>
	<insert id="insertOrderProduct" parameterType="map">
		INSERT INTO `order_product`
		(
			`paymentId`
			, `productId`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{paymentId}
			, #{productId}
			, NOW()
			, NOW()
		)
	</insert>
</mapper>