<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.forest.user.mapper.UserMapper">
	<select id="selectUserById" parameterType="int" resultType="com.forest.user.domain.User">
		SELECT
			`id`
			, `loginId`
			, `password`
			, `name`
			, `phoneNumber`
			, `email`
			, `address`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE
			`id` = #{id}
	</select>
	<select id="selectUserByLoginId" parameterType="String" resultType="com.forest.user.domain.User">
		SELECT
			`id`
			, `loginId`
			, `password`
			, `name`
			, `phoneNumber`
			, `email`
			, `address`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
	</select>
	<select id="selectUserByLoginIdAndPassword" parameterType="map" resultType="com.forest.user.domain.User">
		SELECT
			`id`
			, `loginId`
			, `password`
			, `authType`
			, `kakaoId`
			, `name`
			, `phoneNumber`
			, `email`
			, `address`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
			AND `password` = #{password}
	</select>
	<select id="selectUserByKakaoId" parameterType="map" resultType="com.forest.user.domain.User">
		SELECT
			`id`
			, `loginId`
			, `password`
			, `authType`
			, `kakaoId`
			, `name`
			, `phoneNumber`
			, `email`
			, `address`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE
			`authType` = 'kakao'
			AND `kakaoId` = #{kakaoId}
	</select>
	
	<insert id="insertUser" parameterType="map">
		INSERT INTO `user`
		(
			`loginId`
			, `password`
			, `name`
			, `phoneNumber`
			, `email`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{loginId}
			, #{password}
			, #{name}
			, #{phoneNumber}
			, #{email}
			, NOW()
			, NOW()
		);
	</insert>
	<insert id="insertUserKakao" parameterType="map">
		INSERT INTO `user`
		(
			`authType`
			, `kakaoId`
			, `name`
			, `phoneNumber`
			, `email`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			'kakao'
			, #{kakaoId}
			, #{name}
			, #{phoneNumber}
			, #{email}
			, NOW()
			, NOW()
		);
	</insert>

	<update id="updateUserById" parameterType="map">
		UPDATE
			`user`
		SET
			`password` = #{password}
			, `name` = #{name}
			, `phoneNumber` = #{phoneNumber}
			, `email` = #{email}
			, `address` = #{address}
			, `updatedAt` = NOW()
		WHERE
			`id` = #{id}
	</update>
		<update id="updateKakaoUserByKakaoId" parameterType="map">
		UPDATE
			`user`
		SET
			`name` = #{name}
			, `phoneNumber` = #{phoneNumber}
			, `email` = #{email}
			, `address` = #{address}
			, `updatedAt` = NOW()
		WHERE
			`kakaoId` = #{kakaoId}
	</update>



	<select id="selectUserListTest" resultType="com.forest.user.domain.User">
		SELECT
			`id`
			, `loginId`
			, `password`
			, `name`
			, `phoneNumber`
			, `email`
			, `address`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
	</select>
	
</mapper>