<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/mainLayout}">

<!-- mainLayout : contents -->
<section layout:fragment="contents" class="contents">
	<div class="books-list">
		<!-- 타이틀 -->
		<div class="d-flex justify-content-between my-5">
			<h1 class="mx-3 ff-gr font-weight-bold">최신 주간 베스트셀러</h1>
			<div class="y-center">
				<select id="bestsellerYear" class="border-0 ml-1">
					<option th:each="year : ${#numbers.sequence(1999, 2024)}" th:text="|${year}년|" th:value="${year}"></option>
				</select>
				<select id="bestsellerMonth" class="border-0 ml-1">
					<option th:each="month : ${#numbers.sequence(1, 12)}" th:text="|${month}월|" th:value="${month}"></option>
				</select>
				<select id="bestsellerWeek" class="border-0 ml-1">
					<option th:each="week : ${#numbers.sequence(1, 5)}" th:text="|${week}주 |" th:value="${week}"></option>
				</select>
				<span id="bestsellerSearchBtn" class="ml-2">
					<img alt="주간검색이미지" src="/img/search-icon.png" class="search-icon">
				</span>
			</div>
		</div>
		
		<!-- 1~10 버튼 : 상단 -->
		<div class="x-center pb-4">
			<div th:each="num : ${#numbers.sequence(1, 10)}">
				<button type="button" th:text="20 * ${num} - 19 + '위 ↓'" th:data-page-num="${num}" th:data-current-page="${pageIndex}" class="bestseller-page-btn mx-1">버튼</button>
			</div>
		</div>
		
		<!-- 책 리스트 -->
		<div th:each="item : ${itemList}">
			<div class="item-box">
				<div th:if="${item.bestRank != null}" class="col-1">
					<span th:text="|${item.bestRank}위|" class="best-rank"></span>
				</div>
				
				<div>
					<a th:href="|/books/detail/${item.isbn13}|">
						<img alt="책 이미지" th:src="${item.cover}">
					</a>
				</div>
				
				<div class="item-content">
					<!-- 카테고리, 제목, 저자/출판사 -->
					<div th:text="${item.categoryName}" class="item-category-name"></div>
					<div class="mt-3">
						<a th:text="${item.title}" th:href="|/books/detail/${item.isbn13}|" class="item-title">
							책제목
						</a>
					</div>
					<div class="mt-2">
						<small th:text="|${item.author} · ${item.publisher} · ${#temporals.format(item.pubDate, 'Y.MM.dd')}|"></small>
					</div>
					
					<!-- 유저 레이팅 -->
					<div class="item-rating mt-2">
						<!-- 별점이 있는 경우 -->
						<div th:if="${item.customerReviewRank > 0}" class="d-flex">
							<div th:each="num : ${#numbers.sequence(1, item.customerReviewRank)}">
								<img alt="full-star" src="/img/star-full-icon.png" class="rating-icon">
							</div>
							<div th:if="${2 * item.customerReviewRank % 2} == 1">
								<img alt="half-star" src="/img/star-half-icon.png" class="rating-icon">
							</div>
							<div th:if="${5 - item.customerReviewRank > 0.5}">
								<div th:each="num : ${#numbers.sequence(1, 5 - item.customerReviewRank)}">
									<img alt="full-star" src="/img/star-empty-icon.png" class="rating-icon">
								</div>
							</div>
						</div>
						<!-- 별점이 없는 경우 -->
						<div th:unless="${item.customerReviewRank > 0}" class="d-flex">
							<div th:each="num : ${#numbers.sequence(1, 5)}">
								<img alt="empty-star" src="/img/star-empty-icon.png" class="rating-icon">
							</div>
						</div>
					</div><!-- 유저 레이팅 -->
					
					<!-- 요약 설명 -->
					<div th:text="${item.description}" class="item-description mt-3"></div>
				</div> <!-- item content -->
				
				<div class="flex-grow-1"></div>
				
				<div class="item-purchase col-4">
				
					<!-- 좋아요 -->
					<div th:if="${#lists.contains(likeIsbnList, item.isbn13)}" th:data-isbn="${item.isbn13}">
						<img alt="좋아요" src="/img/heart-filled-icon.png" class="like-icon-sm">
						<img alt="좋아요" src="/img/heart-icon.png" class="like-icon-sm d-none">
					</div>
					<div th:unless="${#lists.contains(likeIsbnList, item.isbn13)}" th:data-isbn="${item.isbn13}">
						<img alt="좋아요" src="/img/heart-filled-icon.png" class="like-icon-sm d-none">
						<img alt="좋아요" src="/img/heart-icon.png" class="like-icon-sm">
					</div>
					
					<!-- 가격 -->
					<div class="price-btn-box">
						<div th:unless="${#lists.isEmpty(item.productList)}" th:with="product = ${item.productList[#lists.size(item.productList) - 1]}" th:data-product-id="${product.id}" class="btn btn-outline-danger price-btn product-price-btn">
							<div class="d-flex justify-content-end">
								<h6 class="mb-0">중고도서(최저가)</h6>
							</div> <!--	 가격 -->
							<div class="d-flex justify-content-end">
								<span th:text="${#numbers.formatInteger(product.price, 3, 'COMMA') + '원'}" class="font-weight-bold ff-gr"></span>
							</div>
						</div>
						<div class="btn btn-outline-success price-btn new-price-btn mt-2" th:data-link="${item.link}">
							<div class="d-flex justify-content-end">
								<h6 class="mb-0">신품도서</h6>
							</div>
							<div class="d-flex justify-content-end">
								<span th:text="${#numbers.formatInteger(item.priceStandard, 3, 'COMMA') + '원'}" class="price-standard"></span>
								<span class="mx-1">&#8594;</span>
								<span th:text="${#numbers.formatInteger(item.priceSales, 3, 'COMMA') + '원'}" class="font-weight-bold ff-gr"></span>
							</div>
						</div>
					</div> <!-- price-btn-box -->
				</div><!-- item-purchase -->
			</div>
		</div><!-- bookList 반복문 -->
		
		<!-- 1~10 버튼 : 하단 -->
		<div class="x-center my-5">
			<div th:each="num : ${#numbers.sequence(1, 10)}">
				<button type="button" th:text="20 * ${num} - 19 + '위 ↓'" th:data-page-num="${num}" th:data-current-page="${pageIndex}" class="bestseller-page-btn mx-1">버튼</button>
			</div>
		</div>

		
	</div><!-- 책 리스트 컨테이너 -->
</section>

<!-- mainLayout : script -->
<script layout:fragment="script">
	$(document).ready(function() {
		
		// bestseller-page-btn-focus load
		$('.bestseller-page-btn').each(function() {
			let page = $(this).data('page-num');
			let current = $(this).data('current-page');
			if (page == current) {
				$(this).removeClass('bestseller-page-btn');
				$(this).addClass('bestseller-page-btn-focus');
				$(this).attr('readonly', true);
			}
		});
		
		// 베스트셀러 페이지 버튼
		$('.bestseller-page-btn').on('click', function(e) {
			let page = $(this).data('page-num');
			location.href = "/books/bestseller?page=" + page;
		}) //-- 베스트셀러 페이지 버튼 
		
		// 신간 가격 버튼 - 알라딘 페이지로 이동
		$('.new-price-btn').on('click', function(e) {
			let link = $(this).data('link');
			window.open(link);
		}); //-- 신간 가격 버튼 - 알라딘 페이지로 이동
		
		// 상품 가격 버튼 - 최저가 상품 상세 페이지로 이동
		$('.product-price-btn').on('click', function(e) {
			let link = "/product/detail/" + $(this).data('product-id');
			window.open(link);
		}); //-- 상품 가격 버튼 - 최저가 상품 상세 페이지로 이동
		
		// 좋아요 버튼
		$('.like-icon-sm').on('click', function(e) {
			let isbn = $(this).parent().data('isbn');

			$.ajax({
				type:"get"
				, url:"/like/" + isbn // REST Api방식은 data가 여기서 포함됨
				, context: this
				, success:function(data) {
					if (data.code == 200) {
						$(this).addClass('d-none');
						$(this).siblings().removeClass('d-none');
					} else if (data.code == 403) {
						alert(data.error_message);
					}
				}
				, error:function(error) {
					alert("AJAX ERROR : 좋아요 오류");
				}
			}); //-- ajax
		}); //-- 좋아요 버튼
		
		// 다른 주간 베스트셀러 검색
		$('#bestsellerSearchBtn').on('click', function(e) {

			let year = $('#bestsellerYear').val();
			let month = $('#bestsellerMonth').val();
			let week = $('#bestsellerWeek').val();
			
			console.log(year);
			console.log(month);
			console.log(week);
		}); //-- 다른 주간 베스트셀러 검색
		
	}); //-- ready
</script>


</html>