<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/mainLayout}">


<!-- mainLayout : contents -->
<section layout:fragment="contents" class="contents">
	<div class="books-list x-center">
		<div class="w-75 p-5">
			<div class="d-flex justify-content-between">
				<small th:text="|장르 : ${item.categoryName}|"></small>
				<small th:text="|isbn : ${item.isbn13}|"></small>
			</div>
			<div class="d-flex mt-4">
				<img alt="알리딘 제공 도서 이미지" th:src="${item.cover}">
				<div class="ml-5">
					<h3 th:text="${item.title}" class="ff-gr font-weight-bold">책 제목</h3>		
					<div th:text="|${item.author} · ${item.publisher}|">지은이, 출판사</div>		
					
					<!-- 유저 레이팅 -->
					<div class="item-rating d-flex mt-2">
						<!-- 별점이 있는 경우 -->
						<div th:if="${item.customerReviewRank > 0}" class="d-flex">
							<div th:each="num : ${#numbers.sequence(1, item.customerReviewRank)}">
								<img alt="full-star" src="/img/star-full-icon.png" class="rating-icon2">
							</div>
							<div th:if="${2 * item.customerReviewRank % 2} == 1">
								<img alt="half-star" src="/img/star-half-icon.png" class="rating-icon2">
							</div>
							<div th:if="${5 - item.customerReviewRank > 0.5}">
								<div th:each="num : ${#numbers.sequence(1, 5 - item.customerReviewRank)}">
									<img alt="full-star" src="/img/star-empty-icon.png" class="rating-icon2">
								</div>
							</div>
						</div>
						<!-- 별점이 없는 경우 -->
						<div th:unless="${item.customerReviewRank > 0}" class="d-flex">
							<div th:each="num : ${#numbers.sequence(1, 5)}">
								<img alt="empty-star" src="/img/star-empty-icon.png" class="rating-icon2">
							</div>
						</div>
						<div th:text="${item.customerReviewRank}" class="rating-number"></div>
					</div><!-- 유저 레이팅 -->
					
					<!-- 가격 -->
					<div class="y-center mt-3">
						<div class="flex-grow-1"></div>
						<h6 class="mb-0 mr-2">신품도서:</h6>
						<span th:text="${#numbers.formatInteger(item.priceStandard, 3, 'COMMA') + '원'}" class="price-standard"></span>
						<span class="mx-1">&#8594;</span>
						<a th:href="${item.link}" target="_blank">
							<span th:text="${#numbers.formatInteger(item.priceSales, 3, 'COMMA') + '원'}"></span>
						</a>
					</div>
					<div class="y-center mt-2">
						<div class="flex-grow-1"></div>
						<h6 class="mb-0 mr-2">중고도서:</h6>
					</div> <!-- 가격 -->		
				</div>
			</div> <!-- 주 내용 -->
			
			<!-- 설명 -->
			<div th:text="${item.description}"></div>

		</div>
		
	</div><!-- 책 리스트 컨테이너 -->
</section>

<!-- mainLayout : script -->
<script layout:fragment="script">
	$(document).ready(function() {


		
		
	}); //-- ready
</script>


</html>