<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/mainLayout}">


<!-- mainLayout : contents -->
<section layout:fragment="contents" class="contents">
	<div class="books-list x-center">
		<div class="books-detail">
			
			<!-- 상단 정보 -->
			<div class="d-flex justify-content-between text-dark-grey">
				<small th:text="|isbn : ${item.isbn13}|"></small>
				
				<!-- 좋아요 -->
				<div th:if="${isLiked}" th:data-isbn="${item.isbn13}">
					<img alt="좋아요" src="/img/heart-filled-icon.png" class="like-icon-sm">
					<img alt="좋아요" src="/img/heart-icon.png" class="like-icon-sm d-none">
				</div>
				<div th:unless="${isLiked}" th:data-isbn="${item.isbn13}">
					<img alt="좋아요" src="/img/heart-filled-icon.png" class="like-icon-sm d-none">
					<img alt="좋아요" src="/img/heart-icon.png" class="like-icon-sm">
				</div>
			</div>
			
			<!-- 주 내용 -->
			<div class="d-flex">
				<div>
					<img alt="알리딘 제공 도서 이미지" th:src="${item.cover}">
				</div>
				
				<div class="ml-4 pt-1 detail-info-box">
					<h5 th:text="${#strings.abbreviate(item.title, 48)}" class="ff-gr font-weight-bold text-center mb-3">책 제목</h5>		
					<div th:text="|${item.author} · ${item.publisher} · ${#temporals.format(item.pubDate, 'Y년 MM월 dd일')}|" class="text-center pb-3 border-bottom fs-small">지은이, 출판사</div>		
					
					<!-- 유저 레이팅 -->
					<div class="item-rating x-center mt-2">
						<!-- 별점이 있는 경우 -->
						<div th:if="${item.customerReviewRank > 0}" class="d-flex">
							<div th:each="num : ${#numbers.sequence(1, item.customerReviewRank)}">
								<img alt="full-star" src="/img/star-full-icon.png" class="rating-icon2">
							</div>
							<div th:if="${2 * item.customerReviewRank % 2} == 1">
								<img alt="half-star" src="/img/star-half-icon.png" class="rating-icon2">
							</div>
							<div th:if="${5 - item.customerReviewRank > 0.5}" class="d-flex">
								<div th:each="num : ${#numbers.sequence(1, 5 - item.customerReviewRank)}">
									<img alt="full-star" src="/img/star-empty-icon.png" class="rating-icon2">
								</div>
							</div>
							<div th:text="${item.customerReviewRank}" class="rating-number"></div>
						</div>
						<!-- 별점이 없는 경우 -->
						<div th:unless="${item.customerReviewRank > 0}" class="d-flex">
							<div th:text="|(아직 별점이 없어요)|" ></div>
						</div>
					</div><!-- 유저 레이팅 -->
					
					<div class="text-center">
						<small th:text="|${item.categoryName}|"></small>
					</div>
					
					<!-- 가격 -->
					<div class="detail-buy-box d-flex justify-content-around font-weight-bold">
						<div class="buy-new-btn">
							<a th:href="${item.link}" class="text-white" target="_blank">
								<span class="d-inline-block mb-1 fs-17">신품도서</span><br>
								<span th:text="${#numbers.formatInteger(item.priceStandard, 3, 'COMMA') + '원'}" class="price-standard text-white"></span>
								<span class="mx-1">&#8594;</span>
								<span th:text="${#numbers.formatInteger(item.priceSales, 3, 'COMMA') + '원'}"></span>
							</a>
						</div>
						<div class="buy-product">
							<h6 class="mb-0 text-right font-weight-bold line-height-wide">중고도서:
								<th:block th:if="${#lists.isEmpty(item.productList)}">
									<span>준비중이에요.</span>
								</th:block>
								<th:block th:unless="${#lists.isEmpty(item.productList)}" th:each="product : ${item.productList}">
									<a th:href="|/product/detail/${product.id}|" class="buy-product-btn">
										<span th:text="${#numbers.formatInteger(product.price, 3, 'COMMA') + '원'}">1000원</span>
										<span th:text="|(${product.bookStatus})|"></span>
									</a><br>
								</th:block>
							</h6>
						</div>
					</div> <!-- 가격 -->		
				</div>
			</div> <!-- 주 내용 -->
			
			<!-- 설명 -->
			<div th:text="${item.description}" class="mt-5 px-3 py-4 bg-light"></div>

		</div>
		
	</div><!-- 책 리스트 컨테이너 -->
</section>

<!-- mainLayout : script -->
<script layout:fragment="script">
	$(document).ready(function() {

		// 좋아요 버튼
		$('.like-icon-sm').on('click', function(e) {
			let isbn = $(this).parent().data('isbn');

			$.ajax({
				type:"get"
				, url:"/like/" + isbn // REST Api방식은 data가 여기서 포함됨
				, context: this
				, success:function(data) {
					if (data.code == 200) {
						$(this).addClass('d-none');
						$(this).siblings().removeClass('d-none');
					} else if (data.code == 403) {
						alert(data.error_message);
					}
				}
				, error:function(error) {
					alert("AJAX ERROR : 좋아요 오류");
				}
			}); //-- ajax
		}); //-- 좋아요 버튼
		
		
	}); //-- ready
</script>


</html>