<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footerFragment" class="border-top">
	<div class="col-8">
		<div>(주)포레스트컴퍼니</div>
		<div>
			<span>대표이사 배진하</span>
			<span>고객정보보호 책임자 배진하</span>
			<span>사업자등록 001-00-00000</span>
		</div>
		<div>
			<span>이메일 privacy@forest.co.kr</span>
			<span>호스팅 제공자 포레스트컴프니</span>
			<span>(본사) 서울시 중구 서소문로 89-31</span>
		</div>
		<div>ⓒ Forest Company. All Rights Reserved.</div>
	</div>
	
	<div class="col-4">
		<h5>고객센터 1544-2514 (발신자 부담)</h5>
		<div>
			<small>서울시 마포구 백범로 71 숨도빌딩 7층 Fax 02-6926-2600</small>
		</div>
	</div>
</footer>

</html>