@charset "UTF-8";
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* 변수 설정 */
:root {

  --dark: #212529;
  --grey: #dee2e6;
  --light-grey: #F6F8FA;
  --dark-grey: #767676;
  
  --forest-green: #228B22;
  --sea-green: #1B7A1B;
  --royal-blue: #4169E1;
  --doge-blue: #1E90FF;
  
  --green: #28a745;
  --yellow: #ffc107;
  --red: #dc3545;
}

/* 기본설정 */
body {
	font-family: 'nanumsquare';
}

a, a:hover {
	text-decoration: none;
}

/* 공용 */
.text-dark-grey { /* TODO: 삭제예정*/
	color: var(--dark-grey);
}
.ff-gr {
	font-family: 'GowunBatang-Regular';
}
.a-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.x-center {
	display: flex;
	justify-content: center;
}
.y-center {
	display: flex;
	align-items: center;
}

/* 레이아웃 */
#wrap {}
.contents {
	display: flex;
	align-items: center;
	flex-direction: column;
}

/* 헤더 */
header {}
.sub-banner {
	height: 25px;
	text-align: center;
}
.main-banner {
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.main-banner-easy {
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
}
.search-icon {
	width: 23px;
	height: 23px;
}
.search-checkbox {
	margin-top: 5px;
	margin-left: 80px;
	font-size: 14px;
}
nav {
	font-size: 18px;
}

/* 하단 */
footer {
	display: flex;
	padding: 2rem 3rem 6rem 3rem;
	margin-top: 80px;
	border-top: 1px solid var(--grey);
}

/* main.html */
.top-content {
	min-height: 300px;
}
.bottom-content {
	min-height: 300px;
}

/* 로그인.html, 회원가입.html, 정보수정.html */
.login-box {
	width: 300px;
	margin: 40px 0;
}
.join-box, .info-box {
	width: 350px;
	margin: 40px 0;
}
.info-form-box {
	padding: 1rem;
	border: 1px solid var(--grey);
	border-radius: 3px;
	background: var(--light-grey);
}
.info-form-box input {
	border-radius: 7px;
	padding: .3rem .75rem;
}
#loginBtn {
	width: 100%;
	color: #fff;
	background: var(--forest-green);
	border-radius: 7px;
	padding: .3rem .75rem;
}
#loginBtn:hover {
	background: var(--sea-green);
}
#joinBtn, #changeBtn {
	width: 100%;
	color: #fff;
	background: var(--doge-blue);
	border-radius: 7px;
	padding: .3rem .75rem;
}
#joinBtn:hover, #changeBtn:hover {
	background: var(--royal-blue);
}
.small-red-text {
	color: var(--red);
	font-size: 13px;
}
.small-green-text {
	color: var(--green);
	font-size: 13px;
}
.small-yellow-text {
	color: var(--yellow);
	font-size: 13px;
}
#isDuplicated {
	font-size: 14px;
	padding: .3rem .6rem;
	height: fit-content;
}

/* bestseller.html */
.books-list {
	width: 970px;
}
.item-box {
	margin-top: 60px;
	padding-bottom: 20px;
	display: flex;
	border-bottom: 1px solid var(--grey);
}
.item-content {
	margin-left: 40px;
}
.price-standard {
	color: var(--dark-grey);
	text-decoration: line-through;
}
.rating-icon {
	width: 21px;
	margin-right: 1px;
}
.item-description {
	color: var(--dark-grey);
	font-size: 13px;
}
.item-category-name {
	color: var(--dark-grey);
	font-size: 13px;
}
.item-purchase {
	display: flex;
	flex-direction: column;
	text-align: right;
}
.bestseller-page-btn {
	display: inline-block;
	width: 70px;
	height: 31px;
	color: var(--dark);
	background: white;
	border: none;
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    font-size: 0.8rem;
    line-height: 1.5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    
}
.bestseller-page-btn:hover {
	color: white;
	background: var(--dark-grey);
}
.bestseller-page-btn-focus {
	display: inline-block;
	width: 70px;
	height: 31px;
	color: var(--dark);
	background: var(--grey);
	border: none;
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    font-size: 0.8rem;
    line-height: 1.5;
}
.best-rank {
	display: inline-block;
	color: var(--dark-grey);
	font-weight: bold;
	font-size: 15px;
	border-bottom: 3px solid var(--grey);
	padding-right: 1px;
}

/* 신간 페이지 */
.new-page-btn {
	display: inline-block;
	width: 31px;
	height: 31px;
	color: var(--dark);
	background: white;
	border: none;
	border-radius: 50%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    font-size: 0.8rem;
    line-height: 1.5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.new-page-btn:hover {
	color: white;
	background: var(--dark-grey);
}
.new-page-btn-focus {
	display: inline-block;
	width: 31px;
	height: 31px;
	color: var(--dark);
	background: var(--grey);
	border: none;
	border-radius: 50%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    font-size: 0.8rem;
    line-height: 1.5;
}
.new-title {
	width: 270px;
	color: var(--dark-grey);
	font-weight: 700;
	text-align: center;
	padding: 10px 0;
	cursor: pointer;
}
.new-title-left {
	border-top-left-radius: 50rem;
	border-bottom-left-radius: 50rem;
}
.new-title-right {
	border-top-right-radius: 50rem;
	border-bottom-right-radius: 50rem;
}
.new-title-left:hover, .new-title-right:hover {
	color: var(--dark);
}
.new-title-focus {
	color: var(--dark);
	background: #F2DDBC;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
	cursor: default;
}
