@charset "UTF-8";

/* 기본설정 */
a, a:hover {
	text-decoration: none;
}

/* 공용 */
.a-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.x-center {
	display: flex;
	justify-content: center;
}
.y-center {
	display: flex;
	align-items: center;
}

/* 레이아웃 */
#wrap {}
.contents {
	margin: 0 auto;
}

/* 헤더 */
header {}
.sub-banner {
	height: 25px;
	text-align: center;
}
.main-banner {
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.search-icon {
	width: 23px;
	height: 23px;
}
.search-checkbox {
	margin-top: 5px;
	margin-left: 80px;
	font-size: 14px;
}

/* 하단 */
footer {
	display: flex;
	padding: 2rem 3rem 6rem 3rem;
}

/* main.html */
.top-content {
	min-height: 300px;
}
.bottom-content {
	min-height: 300px;
}

/* bestseller.html */

